<a href="https://colab.research.google.com/github/ownas/pokemon-dataset-project/blob/main/Pokemon_Dataset_BDI475.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://github.com/ownas/pokemon-dataset-project/raw/main/Pokemon.csv')

1) Describe why you've picked the dataset:
  

1.   I chose this dataset because I wanted to understand the complexities of why each Pokemon has vary degree of stats relative to their type, generation, and considering if they have a second attribute type 2.

2) Come up with questions. What are you interested in?: 

1.   I am interested in understand what type group of Pokemon on average have higher or lower (totals, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) 
2.   Do Pokemon with two types have higher or lower 
total stat points?
3.   Which non-Legendary Pokemon types experience highest total stat points?
4.   Which types have the highest(lowest) respective stat? (totals, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed)

In [3]:
##Display the number of rows and columns
num_rows = df.shape[0]
print(f'There {num_rows} rows in this dataset.')

num_cols = df.shape[1]
print(f'There {num_cols} columns in this dataset.')

There 800 rows in this dataset.
There 13 columns in this dataset.

In [4]:
##Check the data types of each column and number of non-missing rows
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [5]:
##Parse datetime looking strings into valid datetime values if necessary